
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-background;
  color: $footer-foreground;
  padding-top: 20px;
  z-index: $zindex-fixed;

  &>.menu{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 38px;
    &>li{
      display: inline-block;
      margin: 0;
      &.active{
        a{ color: $footer-foreground; }
      }
      &:hover{
        a{ color: $footer-foreground; }
      }
      &.temp-off{
        a { color: transparent; }
      }
    }
    &.main{
      padding-left: 30px;
      left: 0;
    }
    &.account{
      padding-right: 30px;
      right: 0;
    }
    .menu-icon{
      a{
        display: block;
        text-align: center;
        background-size: 28px 28px;
        background-position: center top !important;
        font-size: 12px;
        padding-top: 33px;
        color: transparent;
        transition: color $transitions-base-time;
        text-transform: uppercase;
        text-decoration: none;
        width: 40px;
        height: 26px;
        // &:focus,
        // &:hover{
        //   color: $footer-foreground;
        // }
        position: relative;
        &>span{
          display: block;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
