button.hamburger{
	outline: none;
	background: transparent;
	border: none;
	height: 18px;
	margin: 0;
	padding: 0;
	//margin-top: 1px;
	cursor: pointer;
	&>div{
		background: white;
		height: 2px;
		width: 20px;
		@include transition();
		&:nth-of-type(2){
			margin: 4px 0 4px 0;
		}
	}

	&[aria-expanded="false"]{
		&>div{
			background: white;
			&:first-of-type{
				transform: rotate(45deg);
				margin-bottom: -2px;
			}
			&:nth-of-type(2){
				margin:0;
				opacity: 0;
				visibility: hidden;
			}
			&:last-of-type{
				transform: rotate(-45deg);
				margin-top: -2px;
			}
		}
	}
}
