#main{
  opacity: 0;
  visibility: hidden;
  width: 100%;
  min-height: calc(100vh - #{$header-height + $footer-height + ($grid-gutter-width * 2)});
  margin-top: 78px + $grid-gutter-width;
  margin-bottom: 110px;
  transition: opacity 1s;

  @include media-breakpoint-down(sm) {
    min-height: calc(100vh - 110px);
    margin-top: 40px + ($grid-gutter-width / 2);
    margin-bottom: 67px;
  }

  @include media-breakpoint-only(md) {
    min-height: calc(100vh - 160px);
    margin-top: 68px + $grid-gutter-width;
    margin-bottom: 85px;
  }
}

body.animation-complete{
  #main{
    opacity: 1;
    visibility: visible;
  }
}
